* {
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  height: 100vh;
  background-color: skyblue;
  display: flex;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
}
.cont {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 24px;
  margin-left: 30px;
  background-image: linear-gradient(to top right, #219dfe, #8fd4f3);
  color: blue;
}

.blocks {
  margin-top: 20px;
  display: flex;
}
.block {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #8bdfde;
  height: 300px;
  width: 100px;
  margin-left: 30px;
}

.item {
  width: 70px;
  height: 30px;
  background-color: steelblue;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  cursor: grab;
  margin: 0 auto;
  color: blue;
  font-weight: 600;
}
.item:active {
  cursor: grabbing;
}
.hide {
  display: none;
}
.block.hovered {
  transform: scale(1.1, 1.1);
}
